{% load static %}
<nav class="container-fluid navbar navbar-expand-lg navbar-light justify-content-between border-bottom border-danger">
    <div>
       <a href="/" class="nav-brand text-decoration-none text-body">Systech360</a>
        <ul class="navbar-nav d-inline-block">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="dropdown nav-item">
                Teritory Management
                <div class="dropdown-content">
                    <a href="/region/">Region</a>
                    <a href="/country/">Country</a>
                    <a href="/state/">State</a>
                    <a href="/district/">District</a>
                </div>
            </li>
        </ul>
    </div>
    <div>
        <ul class="navbar-nav mr-auto">
            {% if request.user.is_authenticated %}
            <li class="nav-item">Hello : {{request.user}}</li>
            <li class="nav-link">LogOut</li>
            {% else %}
            <li class="nav-link">Register</li>
            <li class="nav-link">Login</li>
            {% endif %}
        </ul>
    </div>
</nav>

<!-- <img src="{% static 'img/icon.jpg' %}" class="d-inline-block align-top" alt="icon" height="150px"> -->
